@import url(light.css);
@import url(dark.css);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#logo{
  transition: all 0.5s ease;
}

#logoMain{
  width: 100px;
  height: 100px;
  color: var(--color-font-primary-100);
  font-family: Monstserrat-Alternates, sans-serif;
  transition: all 0.5s ease;
}

#logoAi{
  width: 100px;
  height: 100px;
  color: var(--color-secondary-100);
  font-family: Sensation, monospace;
  transition: all 0.5s ease;
}


#logoMain:hover, #logoAi:hover {
  filter: drop-shadow(0px 0px 100em var(--color-secondary-100));
  cursor: normal;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
