@import url(light.css);
@import url(dark.css);

#logo{
  transition: all 0.5s ease;
  margin: 0;
}

#logoMain{
  width: 100px;
  height: 100px;
  color: var(--color-font-primary-100);
  font-family: Monstserrat-Alternates, sans-serif;
  transition: all 0.5s ease;
}

#logoAi{
  width: 100px;
  height: 100px;
  color: var(--color-secondary-100);
  font-family: Sensation, monospace;
  transition: all 0.5s ease;
}


#logoMain:hover, #logoAi:hover {
  filter: drop-shadow(0px 0px 10em var(--color-secondary-100));
  box-shadow: 0px 0px 10em var(--color-secondary-100);
  cursor: pointer;
}


.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.about {
  height: 100%;
  max-width: 760px;
  position: relative;
  margin-top: 0;
}

.about p {
  font-size: large;
}

.about a {
  text-decoration: underline;
  padding: 0.4em;
  color: var(--color-secondary-100);
}