.board{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 10px;
    max-width: fit-content;
    width: 100%;
    align-self: center;

}
.tags{
    display: flex;
    flex-direction: row;
}
.tag{
    margin-inline: 50px;
    background-color: var(--color-primary-200);
    padding: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
}