.dark{
    --color-primary-100:  #1E1E1E;
    --color-primary-200:  #141414;
    --color-primary-200-rgb:  20,20,20;
    --color-primary-300:  #383838;
    --color-secondary-100:  #ff00ff;
    --color-secondary-105:  #ff00ff05;
    --color-secondary-110:  #ff00ff10;
    --color-secondary-120:  #ff00ff20;
    --color-secondary-130:  #ff00ff30;
    --color-secondary-140:  #ff00ff40;
    --color-secondary-150:  #ff00ff50;
    --color-secondary-160:  #ff00ff60;
    --color-secondary-170:  #ff00ff70;
    --color-secondary-180:  #ff00ff80;
    --color-secondary-190:  #ff00ff90;
    --color-secondary-195:  #ff00ff95;
    --color-secondary-200:  #ff00ff;
    --color-font-primary-100:  #FFFFFF;
    --color-font-primary-200:  #D2D2D2;    
    --color-font-primary-300:  #FFFFFF27;

    --color-cell-0: var(--color-primary-100);
    --color-cell-2: #ffae00;
    --color-cell-4: #ff7700;
    --color-cell-8: #F0583A;
    --color-cell-16: #ff5151;
    --color-cell-32: #ff6da0;
    --color-cell-64: #ff5c87;
    --color-cell-128: #F873E2;
    --color-cell-256: #FB86FF;
    --color-cell-512: #BF70FF;
    --color-cell-1024: #ff46ff;
    --color-cell-2048: #ff00ff;
    --color-cell-4096: #e2e2e2;
    --color-cell-8192: #e2e2e2;
    --color-cell-16384: #e2e2e2;
    --color-cell-32768: #e2e2e2;
    --color-cell-65536: #e2e2e2;
    --color-cell-131072: #e2e2e2;
    --color-cell-262144: #e2e2e2;
    --color-cell-524288: #e2e2e2;
    --color-cell-1048576: #e2e2e2;
    --color-cell-2097152: #e2e2e2;
    --color-cell-4194304: #e2e2e2;
    --color-cell-777: var(--color-secondary-200);
}