.light{
    --color-primary-100:  #dadada;
    --color-primary-200:  #AFAFAF;
    --color-primary-300:  #bbb9b9;
    --color-secondary-100:  #6B18D6;
    --color-secondary-200:  #8c00ff;
    --color-font-primary-100:  #000000;
    --color-font-primary-200:  #141414;    
}