.light{
    --color-primary-100:  #dadada;
    --color-primary-200:  #AFAFAF;
    --color-primary-300:  #bbb9b9;
    --color-secondary-100:  #6B18D6;
    --color-secondary-105:  #6B18D605;
    --color-secondary-110:  #6a18d610;
    --color-secondary-120:  #6a18d620;
    --color-secondary-130:  #6a18d630;
    --color-secondary-140:  #6a18d640;
    --color-secondary-150:  #6a18d650;
    --color-secondary-160:  #6a18d660;
    --color-secondary-170:  #6a18d670;
    --color-secondary-180:  #6a18d680;
    --color-secondary-190:  #6a18d690;
    --color-secondary-195:  #6a18d695;
    --color-secondary-200:  #8c00ff;
    --color-font-primary-100:  #000000;
    --color-font-primary-200:  #141414;
    --color-font-primary-300:  #00000027;      
    
    --color-cell-0: var(--color-primary-100);
    --color-cell-2: #F9C846;
    --color-cell-4: #FA9A46;
    --color-cell-8: #F0583A;
    --color-cell-16: #F03A3A;
    --color-cell-32: #FF518E;
    --color-cell-64: #FF366B;
    --color-cell-128: #F873E2;
    --color-cell-256: #FB86FF;
    --color-cell-512: #BF70FF;
    --color-cell-1024: #B050FF;
    --color-cell-2048: #8C00FF;
}